html {
  font-size: 100%;
  font-family: "Raleway", sans-serif;
  cursor: default;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 80%;
  }

  @include respond(phone) {
    font-size: 70%;
  }

  @include respond(big-desktop) {
    font-size: 136%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: $color-primary-light;
  color: #fff;
}
