//Headings
.heading-primary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  &--main {
    color: $color-primary-light;
  }

  &--white {
    color: $color-grey;
  }

  &--animated {
    display: inline-block;
    backface-visibility: hidden;
    padding: 0.5rem;
    border: 3px solid transparent;
    animation: appearBorder 1.5s linear infinite;
  }
}

//Projects Component
.project {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  cursor: pointer;
  overflow: hidden;
  display: block;

  @include respond(tab-port) {
    clip-path: circle(40% at 50% 50%);
  }

  @include respond(phone) {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }

  &__image-box {
    text-align: center;
    position: relative;
  }

  &__image {
    filter: brightness(0.75);
    transform: scale(1.8);
    width: 20rem;
    transition: all 0.3s;

    @include respond(tab-port) {
      filter: brightness(0.55);
      transform: scale(2.5);
    }
  }

  &__caption {
    position: absolute;
    z-index: 33;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(1rem);
    display: flex;
    flex-direction: column;
    color: $color-grey;
    font-size: 2rem;
    opacity: 0;
    transition: all 0.5s;

    @include respond(tab-port) {
      opacity: 1;
      transform: translate(-50%, -50%) translateY(0);
    }
  }

  &__name {
    margin-bottom: 1rem;
  }

  &__language {
    font-weight: 700;
  }

  &:hover &__image {
    filter: brightness(0.55);
    transform: scale(1.6);
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
  }
}

//Chat Box
.chat-box {
  display: flex;
  align-items: center;
  font-size: 1.25rem;

  @include respond(tab-port) {
    flex-direction: column;
    font-size: 2rem;
  }

  &--left &__logo-box {
    order: 1;
    @include respond(tab-port) {
      visibility: hidden;
      opacity: 0;
    }
  }

  &--right &__paragraph {
    clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
    padding-left: 4rem;

    @include respond(tab-port) {
      text-align: center;
      clip-path: polygon(
        0% 15%,
        15% 15%,
        15% 0%,
        85% 0%,
        85% 15%,
        100% 15%,
        100% 85%,
        85% 85%,
        85% 100%,
        15% 100%,
        15% 85%,
        0% 85%
      );
      padding: 5rem 3.5rem;
      animation: moveUpDown 4s 1s linear infinite;
    }
  }

  &--right &__logo-box {
    margin-right: 3rem;

    @include respond(tab-port) {
      margin-right: 0;
    }
  }

  &--left &__paragraph {
    clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
    padding-right: 4rem;

    @include respond(tab-port) {
      text-align: center;
      clip-path: polygon(
        0% 15%,
        15% 15%,
        15% 0%,
        85% 0%,
        85% 15%,
        100% 15%,
        100% 85%,
        85% 85%,
        85% 100%,
        15% 100%,
        15% 85%,
        0% 85%
      );
      padding: 5rem 3.5rem;
      animation: moveUpDown 6s linear infinite;
    }
  }

  &--left &__logo-box {
    margin-left: 3rem;
  }

  &__logo-box {
    padding: 0.5rem;
    border: 3px solid $color-grey;
    animation: moveUpDown 2s linear infinite;
    @include respond(tab-port) {
      padding: 1rem;
      border: 5px solid $color-grey;
      margin-bottom: 3rem;
    }
  }

  &__logo {
    font-size: 3rem;
    font-weight: 700;
    color: $color-grey;
    @include respond(tab-port) {
      font-size: 5rem;
    }
  }

  &__paragraph {
    padding: 3rem;
    background-color: $color-grey;
    color: $color-primary-light;
    font-weight: 400;
    border-radius: 3px;
  }
}

//Cards

.card {
  &,
  &:link,
  &:visited {
    display: block;
    text-align: center;
    padding: 2rem 1rem;
    border-radius: 3px;
    transition: all 0.3s;
    text-decoration: none;
    color: $color-black;

    position: relative;
  }

  &__logo-box {
    margin-bottom: 2rem;
  }

  &__icon {
    height: 5rem;
    width: 10rem;
    fill: $color-primary-dark;
  }

  &__name {
    font-size: 1.5rem;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      to right bottom,
      $color-primary-light,
      $color-primary-dark
    );
    width: 0;
    height: 0;
    z-index: -1;
  }

  &:hover {
    transform: scale(1.2) translateY(-1rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover &__icon {
    fill: $color-grey;
  }

  &:hover &__logo-box {
    z-index: 3;
  }

  &:hover &__name {
    z-index: 1;
    color: $color-grey;
  }
}
